* {
    font-family: 'Montserrat';
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

img {
    width: 400px;
    height: auto;
}

nav {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 15px;
}

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    gap: 40px;
    padding: 60px;
    padding-bottom: 90px;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.text-and-button button {
    width: fit-content;
    background-color: #2874ee;
    color: #f9faf8;
    font-size: medium;
    font-weight: bold;
    border: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    margin-top: 10px;
}

button:hover {
    background-color: #286ddb;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-info {
    font-size: 18px;
    color: #f9faf8;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.illustrations {
    display: flex;
    gap: 50px;
    padding-top: 50px;
}

.pairs {
    display: flex;
    flex-direction: column;
}
.pairs img {
    width: 200px;
    height: auto;
}

.pairs .subtext {
    max-width: 200px;
    word-wrap: break-word;
}

.quote-section {
    display: flex;
    justify-content: center;
    padding: 90px;
    background-color: #E5E7EB;
}

.quote {
    color: #1f2937;
    max-width: 900px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}


.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.call-container {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    padding: 50px;
    border-radius: 10px;
    /* gap: 90px; */
}

.call-text {
    color: white;
}

#action-call {
    font-size: 25px;
    font-weight: bold;
}

.call-container button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.call-container button:hover {
    /* background-color: #286ddb; */
    border: 2px solid rgb(250, 204, 204);
}